# NYC Taxi Data, Hotel Pairing Experiment

This notebook is meant to serve as a proof-of-concept for pairing public record New York City taxi data (pick-ups, drop-offs) with a few hotels in the city.

In [1]:
# imports...
import csv, numpy as np, pandas as pd
from geopy.geocoders import Nominatim
from geopy.distance import vincenty

### Importing and Cleaning Data

We first read the .csv file into memory and store the columns of the data which we want to use (Do we need any other columns besides latitude and longitude?).

For a first pass, I use the Green taxicab data from January 2016 from the NYC Taxi & Limousine Commission website (http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml). The Yellow taxicab datasets by month are ~1.65Gb, which takes a bit to load and even longer to process (calculate distances).

In [2]:
# change this if you want to try a different dataset
taxi_file = '../data/green_tripdata_2016-01.csv'

# let's load a single .csv file of taxi cab records (say, January 2016)
taxi_data = pd.read_csv(taxi_file)

# let's take a look at the loaded .csv file (for a sanity check)
taxi_data

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2016-01-01 00:29:24,2016-01-01 00:39:36,N,1,-73.928642,40.680611,-73.924278,40.698044,1,...,8.0,0.5,0.5,1.86,0.00,NaN,0.3,11.16,1,1.0
1,2,2016-01-01 00:19:39,2016-01-01 00:39:18,N,1,-73.952675,40.723175,-73.923920,40.761379,1,...,15.5,0.5,0.5,0.00,0.00,NaN,0.3,16.80,2,1.0
2,2,2016-01-01 00:19:33,2016-01-01 00:39:48,N,1,-73.971611,40.676105,-74.013161,40.646072,1,...,16.5,0.5,0.5,4.45,0.00,NaN,0.3,22.25,1,1.0
3,2,2016-01-01 00:22:12,2016-01-01 00:38:32,N,1,-73.989502,40.669579,-74.000648,40.689034,1,...,13.5,0.5,0.5,0.00,0.00,NaN,0.3,14.80,2,1.0
4,2,2016-01-01 00:24:01,2016-01-01 00:39:22,N,1,-73.964729,40.682854,-73.940720,40.663013,1,...,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1.0
5,2,2016-01-01 00:32:59,2016-01-01 00:39:35,N,1,-73.891144,40.746456,-73.867744,40.742111,1,...,7.0,0.5,0.5,0.00,0.00,NaN,0.3,8.30,2,1.0
6,2,2016-01-01 00:34:42,2016-01-01 00:39:21,N,1,-73.896675,40.746197,-73.886192,40.745689,1,...,5.0,0.5,0.5,0.00,0.00,NaN,0.3,6.30,2,1.0
7,2,2016-01-01 00:31:23,2016-01-01 00:39:36,N,1,-73.953354,40.803558,-73.949150,40.794121,1,...,7.0,0.5,0.5,0.00,0.00,NaN,0.3,8.30,2,1.0
8,2,2016-01-01 00:24:40,2016-01-01 00:39:52,N,1,-73.994064,40.702816,-73.971573,40.679726,1,...,12.0,0.5,0.5,2.00,0.00,NaN,0.3,15.30,1,1.0
9,2,2016-01-01 00:28:59,2016-01-01 00:39:23,N,1,-73.914131,40.756641,-73.917549,40.739658,1,...,9.0,0.5,0.5,1.60,0.00,NaN,0.3,11.90,1,1.0
10,2,2016-01-01 00:32:25,2016-01-01 00:39:48,N,1,-73.911179,40.761829,-73.921028,40.763126,1,...,6.0,0.5,0.5,1.82,0.00,NaN,0.3,9.12,1,1.0
11,2,2016-01-01 00:37:51,2016-01-01 00:39:31,N,1,-73.958168,40.715328,-73.962753,40.718178,1,...,3.5,0.5,0.5,0.96,0.00,NaN,0.3,5.76,1,1.0
12,2,2016-01-01 00:21:39,2016-01-01 00:39:37,N,1,-73.946678,40.800785,-73.924904,40.842766,1,...,14.5,0.5,0.5,0.00,0.00,NaN,0.3,15.80,2,1.0
13,2,2016-01-01 00:34:04,2016-01-01 00:39:49,N,1,-73.914291,40.763439,-73.902405,40.775833,1,...,6.0,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1.0
14,2,2016-01-01 00:26:08,2016-01-01 00:39:46,N,1,-73.943375,40.824314,-73.932030,40.850197,1,...,11.0,0.5,0.5,2.00,0.00,NaN,0.3,14.30,1,1.0
15,2,2016-01-01 00:35:40,2016-01-01 00:39:33,N,1,-73.966980,40.632153,-73.966881,40.640160,1,...,4.5,0.5,0.5,1.16,0.00,NaN,0.3,6.96,1,1.0
16,2,2016-01-01 00:25:05,2016-01-01 00:38:43,N,1,-73.937843,40.814445,-73.951584,40.811867,1,...,10.0,0.5,0.5,0.00,0.00,NaN,0.3,11.30,2,1.0
17,2,2016-01-01 00:17:40,2016-01-01 00:39:49,N,1,-73.990364,40.690514,-73.947746,40.693325,1,...,15.5,0.5,0.5,3.00,0.00,NaN,0.3,19.80,1,1.0
18,2,2016-01-01 00:31:16,2016-01-01 00:39:23,N,1,-73.883827,40.747559,-73.855522,40.751564,1,...,7.5,0.5,0.5,0.00,0.00,NaN,0.3,8.80,2,1.0
19,2,2016-01-01 00:25:58,2016-01-01 00:39:17,N,1,-73.980354,40.684414,-73.976944,40.659637,1,...,11.5,0.5,0.5,0.00,0.00,NaN,0.3,12.80,2,1.0
20,2,2016-01-01 00:30:54,2016-01-01 00:39:42,N,1,-73.948799,40.693459,-73.962814,40.709942,1,...,7.5,0.5,0.5,0.00,0.00,NaN,0.3,8.80,2,1.0
21,2,2016-01-01 00:21:36,2016-01-01 00:39:36,N,1,-73.961967,40.713482,-73.924614,40.684742,1,...,15.0,0.5,0.5,4.08,0.00,NaN,0.3,20.38,1,1.0
22,2,2016-01-01 00:18:54,2016-01-01 00:39:30,N,1,-73.941109,40.788277,-73.936195,40.820686,1,...,16.5,0.5,0.5,0.00,0.00,NaN,0.3,17.80,2,1.0
23,2,2016-01-01 00:10:37,2016-01-01 00:39:32,N,1,-73.933006,40.752583,-74.004700,40.752186,2,...,22.5,0.5,0.5,3.00,0.00,NaN,0.3,26.80,1,1.0
24,2,2016-01-01 00:30:53,2016-01-01 00:40:04,N,1,-73.980385,40.678001,-73.982399,40.661926,2,...,9.0,0.5,0.5,3.09,0.00,NaN,0.3,13.39,1,1.0
25,2,2016-01-01 00:24:14,2016-01-01 00:39:52,N,1,-73.970345,40.672691,-73.944016,40.698410,1,...,13.5,0.5,0.5,0.00,0.00,NaN,0.3,14.80,1,1.0
26,2,2016-01-01 00:30:03,2016-01-01 00:39:51,N,1,-73.946259,40.821098,-73.967995,40.803051,1,...,10.0,0.5,0.5,2.26,0.00,NaN,0.3,13.56,1,1.0
27,2,2016-01-01 00:32:58,2016-01-01 00:39:53,N,1,-73.983040,40.677593,-73.997421,40.683887,1,...,6.5,0.5,0.5,0.00,0.00,NaN,0.3,7.80,2,1.0
28,2,2016-01-01 00:34:53,2016-01-01 00:39:08,N,1,-73.943100,40.692383,-73.957466,40.690716,6,...,5.0,0.5,0.5,0.00,0.00,NaN,0.3,6.30,2,1.0
29,2,2016-01-01 00:19:41,2016-01-01 00:39:32,N,1,-73.942230,40.754131,-73.960030,40.690483,5,...,19.5,0.5,0.5,0.00,0.00,NaN,0.3,20.80,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445255,1,2016-01-31 23:00:33,2016-01-31 23:13:46,N,1,-73.978516,40.684280,-73.959396,40.653042,1,...,11.5,0.5,0.5,3.80,0.00,NaN,0.3,16.60,1,1.0
1445256,1,2016-01-31 23:00:11,2016-01-31 23:04:10,N,1,-73.953918,40.587406,-73.944290,40.593353,1,...,5.0,0.5,0.5,0.70,0.00,NaN,0.3,7.00,1,1.0
1445257,1,2016-01-31 23:00:21,2016-01-31 23:02:53,N,1,-73.891144,40.746593,-73.887833,40.748104,1,...,4.0,0.5,0.5,0.00,0.00,NaN,0.3,5.30,2,1.0
1445258,1,2016-01-31 23:00:21,2016-01-31 23:10:32,N,1,-73.978821,40.684010,-73.953728,40.666298,1,...,10.0,0.5,0.5,2.80,0.00,NaN,0.3,14.10,1,1.0
1445259,1,2016-01-31 23:00:12,2016-01-31 23:12:20,N,1,-73.807632,40.700024,-73.746254,40.705929,1,...,13.0,0.5,0.5,0.00,0.00,NaN,0.3,14.30,2,1.0
1445260,1,2016-01-31 23:00:11,2016-01-31 23:06:43,N,1,-73.957878,40.721733,-73.941788,40.716213,1,...,6.5,0.5,0.5,1.00,0.00,NaN,0.3,8.80,1,1.0
1445261,1,2016-01-31 23:00:01,2016-01-31 23:04:21,N,1,-73.957542,40.718037,-73.944687,40.726662,1,...,5.5,0.5,0.5,1.00,0.00,NaN,0.3,7.80,1,1.0
1445262,2,2016-01-31 23:59:37,2016-02-01 00:03:41,N,1,-73.960007,40.813629,-73.968002,40.800953,2,...,5.5,0.5,0.5,2.00,0.00,NaN,0.3,8.80,1,1.0
1445263,2,2016-01-31 23:56:45,2016-02-01 00:03:00,N,1,-73.940903,40.814247,-73.953163,40.791473,1,...,8.0,0.5,0.5,1.86,0.00,NaN,0.3,11.16,1,1.0
1445264,2,2016-01-31 23:59:27,2016-02-01 00:11:28,N,1,-73.863937,40.732738,-73.854729,40.742802,2,...,10.0,0.5,0.5,0.00,0.00,NaN,0.3,11.30,2,1.0
1445265,2,2016-01-31 23:02:37,2016-01-31 23:31:10,N,1,-73.874695,40.735142,-73.991745,40.768887,1,...,25.5,0.5,0.5,0.00,0.00,NaN,0.3,26.80,2,1.0
1445266,2,2016-01-31 23:48:36,2016-01-31 23:56:45,N,1,-73.941635,40.754803,-73.918381,40.755466,1,...,8.0,0.5,0.5,1.86,0.00,NaN,0.3,11.16,1,1.0
1445267,2,2016-01-31 23:00:06,2016-01-31 23:02:52,N,1,-73.962814,40.711937,-73.956039,40.714073,1,...,4.0,0.5,0.5,1.32,0.00,NaN,0.3,6.62,1,1.0
1445268,2,2016-01-31 23:59:11,2016-02-01 00:06:17,N,1,-73.890839,40.746529,-73.880180,40.735291,5,...,7.0,0.5,0.5,1.66,0.00,NaN,0.3,9.96,1,1.0
1445269,2,2016-01-31 23:45:16,2016-02-01 01:55:28,N,1,-73.830109,40.759758,-73.847900,40.791714,1,...,10.5,0.5,0.5,0.00,0.00,NaN,0.3,11.80,2,1.0
1445270,2,2016-01-31 23:57:49,2016-02-01 00:03:50,N,1,-73.958977,40.814651,-73.968124,40.800007,1,...,6.5,0.5,0.5,1.17,0.00,NaN,0.3,8.97,1,1.0
1445271,2,2016-01-31 23:59:58,2016-02-01 00:05:35,N,1,-73.987099,40.692215,-73.973076,40.693516,1,...,5.5,0.5,0.5,0.00,0.00,NaN,0.3,6.80,2,1.0
1445272,2,2016-01-31 23:58:57,2016-02-01 00:07:01,N,1,-73.978737,40.683853,-73.979279,40.665646,1,...,8.0,0.5,0.5,0.00,0.00,NaN,0.3,9.30,2,1.0
1445273,2,2016-01-31 23:48:18,2016-01-31 23:51:46,N,1,-73.934807,40.679710,-73.937210,40.693886,1,...,5.0,0.5,0.5,0.00,0.00,NaN,0.3,6.30,2,1.0
1445274,2,2016-01-31 23:59:37,2016-02-01 00:08:42,N,1,-74.027756,40.631523,-73.991486,40.666668,1,...,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1.0
1445275,2,2016-01-31 23:57:14,2016-02-01 00:01:25,N,1,-73.942741,40.680046,-73.945770,40.692791,1,...,6.0,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1.0
1445276,2,2016-01-31 23:08:33,2016-01-31 23:23:44,N,1,-73.917725,40.816238,-73.913055,40.766323,1,...,18.0,0.5,0.5,0.00,5.54,NaN,0.3,24.84,2,1.0
1445277,2,2016-01-31 23:12:02,2016-01-31 23:16:10,N,1,-73.829872,40.713699,-73.813416,40.709599,1,...,6.0,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1.0
1445278,2,2016-01-31 23:26:56,2016-01-31 23:31:35,N,1,-73.830162,40.713734,-73.809700,40.712479,1,...,6.0,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1.0
1445279,2,2016-01-31 23:50:56,2016-02-01 00:06:18,N,1,-73.830124,40.713726,-73.722076,40.744720,1,...,19.0,0.5,0.5,0.00,0.00,NaN,0.3,20.30,2,1.0
1445280,2,2016-01-31 23:59:36,2016-02-01 00:07:53,N,1,-73.807716,40.700451,-73.768478,40.698082,1,...,10.5,0.5,0.5,0.00,0.00,NaN,0.3,11.80,2,1.0
1445281,2,2016-01-31 23:26:06,2016-01-31 23:31:22,N,1,-73.951408,40.714001,-73.941483,40.724766,2,...,6.0,0.5,0.5,1.00,0.00,NaN,0.3,8.30,1,1.0
1445282,2,2016-01-31 23:50:36,2016-01-31 23:56:19,N,1,-73.954842,40.730213,-73.944626,40.726303,2,...,6.5,0.5,0.5,2.34,0.00,NaN,0.3,10.14,1,1.0
1445283,2,2016-01-31 23:57:47,2016-02-01 00:06:58,N,1,-73.953491,40.817211,-73.977127,40.779583,1,...,10.5,0.5,0.5,1.50,0.00,NaN,0.3,13.30,1,1.0
1445284,2,2016-01-31 23:59:54,2016-02-01 00:07:06,N,1,-73.892578,40.747250,-73.910049,40.775539,1,...,10.0,0.5,0.5,2.82,0.00,NaN,0.3,14.12,1,1.0

In [3]:
# get relevant rows of the data and store them as numpy arrays
pickup_longs, pickup_lats = np.array(taxi_data['Pickup_longitude']), np.array(taxi_data['Pickup_latitude'])
dropoff_longs, dropoff_lats = np.array(taxi_data['Dropoff_longitude']), np.array(taxi_data['Dropoff_latitude'])

# for brevity, let's just experiment with the first 10^6 datapoints.
pickup_longs, pickup_lats = pickup_longs[:1000000], pickup_lats[:1000000]
dropoff_longs, dropoff_lats = dropoff_longs[:1000000], dropoff_lats[:1000000]

### Geolocating Hotels

We experiment with the geopy client for popular geolocation packages. We try the OpenStreetMap Nominatim service (https://nominatim.openstreetmap.org/), since it seems fairly accurate (investigate this?) and doesn't require authentication. I might move to Google's geolocation service (https://developers.google.com/maps/documentation/geolocation/intro) after obtaining an API key.

In [4]:
# change this variable to change the address to geolocate
hotel_address = '66 Charlton Street, New York City, NY 10014' # Four Points by Sheraton Manhattan SoHo Village

# setting up geolocator object
geolocator = Nominatim()

# storing the geocode of the above address
location = geolocator.geocode(hotel_address)
print 'address:', location.address
print 'longitude, latitude:', location.longitude, ',', location.latitude

address: 66, Charlton Street, Greenwich Village, Manhattan, New York County, NYC, New York, 10014, United States of America
longitude, latitude: -74.0061074667 , 40.7271283333

### Finding Nearby Pickups and Dropoffs

Now, we look through our pickup / dropoff dataset and find nearby points. We'll try a number of settings for "nearby", but they all rely on the "vincenty" distance (the default distance setting for this service), which calculates the distance between two points on a spheroid (https://en.wikipedia.org/wiki/Vincenty's_formulae). This can be measured in units of meters, miles, etc.

In [5]:
%%time

# let's try pickup and dropoff locations that are within 1 mile of our destination!

# setting up variables to store results
nearby_pickups, nearby_dropoffs = [], []
# store the hotel's coordinates
hotel_coords = (location.longitude, location.latitude)
# get number of datapoints in dataset N
N = pickup_longs.shape[0]

print '...getting nearby pickup locations\n'

# loop through each pickup long, lat pair
for i, pickup in enumerate(zip(pickup_longs, pickup_lats)):
    # print progress to console periodically
    if i % 100000 == 0:
        print 'pickups progress: (' + str(i) + ' / ' + str(N) + ')'
    # calculate vincenty distance and check for criterion
    if vincenty(hotel_coords, pickup).miles <= 1.0:
        # add to list if it meets the 1 mile criterion
        nearby_pickups.append(pickup)
        
print 'pickups progress: (' + str(N) + ' / ' + str(N) + ')\n'
        
print '...getting nearby dropoff locations\n'

# loop through each pickup long, lat pair
for i, dropoff in enumerate(zip(dropoff_longs, dropoff_lats)):
    # print progress to console periodically
    if i % 100000 == 0:
        print 'dropoffs progress: (' + str(i) + ' / ' + str(N) + ')'
    # calculate vincenty distance and check for criterion
    if vincenty(hotel_coords, dropoff).miles <= 1.0:
        # add to list if it meets the 1 mile criterion
        nearby_dropoffs.append(dropoff)
        
print 'dropoffs progress: (' + str(N) + ' / ' + str(N) + ')\n'
        
print 'number of nearby pickups (<= 1 mile)', len(nearby_pickups), '\n'
print 'number of nearby dropoffs (<= 1 mile):', len(nearby_dropoffs), '\n'

...getting nearby pickup locations

pickups progress: (0 / 1000000)
pickups progress: (100000 / 1000000)
pickups progress: (200000 / 1000000)
pickups progress: (300000 / 1000000)
pickups progress: (400000 / 1000000)
pickups progress: (500000 / 1000000)
pickups progress: (600000 / 1000000)
pickups progress: (700000 / 1000000)
pickups progress: (800000 / 1000000)
pickups progress: (900000 / 1000000)
pickups progress: (1000000 / 1000000)

...getting nearby dropoff locations

dropoffs progress: (0 / 1000000)
dropoffs progress: (100000 / 1000000)
dropoffs progress: (200000 / 1000000)
dropoffs progress: (300000 / 1000000)
dropoffs progress: (400000 / 1000000)
dropoffs progress: (500000 / 1000000)
dropoffs progress: (600000 / 1000000)
dropoffs progress: (700000 / 1000000)
dropoffs progress: (800000 / 1000000)
dropoffs progress: (900000 / 1000000)
dropoffs progress: (1000000 / 1000000)

number of nearby pickups (<= 1 mile) 8363

number of nearby dropoffs (<= 1 mile): 46366

CPU times: user 1min 2s, sys: 2.21 s, total: 1min 4s
Wall time: 1min 2s

In [6]:
%%time

# let's try pickup and dropoff locations that are within 500 meters of our destination!

# setting up variables to store results
nearby_pickups, nearby_dropoffs = [], []
# other necessary variables are already stored

print '...getting nearby pickup locations\n'

# loop through each pickup long, lat pair
for i, pickup in enumerate(zip(pickup_longs, pickup_lats)):
    # print progress to console periodically
    if i % 100000 == 0:
        print 'pickups progress: (' + str(i) + ' / ' + str(N) + ')'
    # calculate vincenty distance and check for criterion
    if vincenty(hotel_coords, pickup).meters <= 500.0:
        # add to list if it meets the 1 mile criterion
        nearby_pickups.append(pickup)
        
print 'pickups progress: (' + str(N) + ' / ' + str(N) + ')\n'
        
print '...getting nearby dropoff locations\n'

# loop through each pickup long, lat pair
for i, dropoff in enumerate(zip(dropoff_longs, dropoff_lats)):
    # print progress to console periodically
    if i % 100000 == 0:
        print 'dropoffs progress: (' + str(i) + ' / ' + str(N) + ')'
    # calculate vincenty distance and check for criterion
    if vincenty(hotel_coords, dropoff).meters <= 500.0:
        # add to list if it meets the 1 mile criterion
        nearby_dropoffs.append(dropoff)
        
print 'dropoffs progress: (' + str(N) + ' / ' + str(N) + ')\n'
        
print 'number of nearby pickups (<= 500 meters)', len(nearby_pickups), '\n'
print 'number of nearby dropoffs (<= 500 meters):', len(nearby_dropoffs), '\n'

...getting nearby pickup locations

pickups progress: (0 / 1000000)
pickups progress: (100000 / 1000000)
pickups progress: (200000 / 1000000)
pickups progress: (300000 / 1000000)
pickups progress: (400000 / 1000000)
pickups progress: (500000 / 1000000)
pickups progress: (600000 / 1000000)
pickups progress: (700000 / 1000000)
pickups progress: (800000 / 1000000)
pickups progress: (900000 / 1000000)
pickups progress: (1000000 / 1000000)

...getting nearby dropoff locations

dropoffs progress: (0 / 1000000)
dropoffs progress: (100000 / 1000000)
dropoffs progress: (200000 / 1000000)
dropoffs progress: (300000 / 1000000)
dropoffs progress: (400000 / 1000000)
dropoffs progress: (500000 / 1000000)
dropoffs progress: (600000 / 1000000)
dropoffs progress: (700000 / 1000000)
dropoffs progress: (800000 / 1000000)
dropoffs progress: (900000 / 1000000)
dropoffs progress: (1000000 / 1000000)

number of nearby pickups (<= 500 meters) 0

number of nearby dropoffs (<= 500 meters): 8126

CPU times: user 1min 3s, sys: 1.85 s, total: 1min 5s
Wall time: 1min 3s

##### Let's do the same experiments, but with a different hotel.

In [7]:
# change this variable to change the address to geolocate
hotel_address = '123 Nassau St, New York City, NY 10038' # The Beekman, A Thompson Hotel ("Best stay in New York!")

# setting up geolocator object
geolocator = Nominatim()

# storing the geocode of the above address
location = geolocator.geocode(hotel_address)
print 'address:', location.address
print 'longitude, latitude:', location.longitude, ',', location.latitude

address: 123, Nassau Street, Southbridge Towers, Manhattan, New York County, NYC, New York, 10038, United States of America
longitude, latitude: -74.0069278333 , 40.7110179444

In [8]:
%%time

# let's try pickup and dropoff locations that are within 1 mile of our destination!

# setting up variables to store results
nearby_pickups, nearby_dropoffs = [], []
# store the hotel's coordinates
hotel_coords = (location.longitude, location.latitude)
# get number of datapoints in dataset N
N = pickup_longs.shape[0]

print '...getting nearby pickup locations\n'

# loop through each pickup long, lat pair
for i, pickup in enumerate(zip(pickup_longs, pickup_lats)):
    # print progress to console periodically
    if i % 100000 == 0:
        print 'pickups progress: (' + str(i) + ' / ' + str(N) + ')'
    # calculate vincenty distance and check for criterion
    if vincenty(hotel_coords, pickup).miles <= 1.0:
        # add to list if it meets the 1 mile criterion
        nearby_pickups.append(pickup)
        
print 'pickups progress: (' + str(N) + ' / ' + str(N) + ')\n'
        
print '...getting nearby dropoff locations\n'

# loop through each pickup long, lat pair
for i, dropoff in enumerate(zip(dropoff_longs, dropoff_lats)):
    # print progress to console periodically
    if i % 100000 == 0:
        print 'dropoffs progress: (' + str(i) + ' / ' + str(N) + ')'
    # calculate vincenty distance and check for criterion
    if vincenty(hotel_coords, dropoff).miles <= 1.0:
        # add to list if it meets the 1 mile criterion
        nearby_dropoffs.append(dropoff)
        
print 'dropoffs progress: (' + str(N) + ' / ' + str(N) + ')\n'
        
print 'number of nearby pickups (<= 1 mile)', len(nearby_pickups), '\n'
print 'number of nearby dropoffs (<= 1 mile):', len(nearby_dropoffs), '\n'

...getting nearby pickup locations

pickups progress: (0 / 1000000)
pickups progress: (100000 / 1000000)
pickups progress: (200000 / 1000000)
pickups progress: (300000 / 1000000)
pickups progress: (400000 / 1000000)
pickups progress: (500000 / 1000000)
pickups progress: (600000 / 1000000)
pickups progress: (700000 / 1000000)
pickups progress: (800000 / 1000000)
pickups progress: (900000 / 1000000)
pickups progress: (1000000 / 1000000)

...getting nearby dropoff locations

dropoffs progress: (0 / 1000000)
dropoffs progress: (100000 / 1000000)
dropoffs progress: (200000 / 1000000)
dropoffs progress: (300000 / 1000000)
dropoffs progress: (400000 / 1000000)
dropoffs progress: (500000 / 1000000)
dropoffs progress: (600000 / 1000000)
dropoffs progress: (700000 / 1000000)
dropoffs progress: (800000 / 1000000)
dropoffs progress: (900000 / 1000000)
dropoffs progress: (1000000 / 1000000)

number of nearby pickups (<= 1 mile) 23582

number of nearby dropoffs (<= 1 mile): 50800

CPU times: user 1min 2s, sys: 1.79 s, total: 1min 4s
Wall time: 1min 2s

In [9]:
%%time

# let's try pickup and dropoff locations that are within 500 meters of our destination!

# setting up variables to store results
nearby_pickups, nearby_dropoffs = [], []
# other necessary variables are already stored

print '...getting nearby pickup locations\n'

# loop through each pickup long, lat pair
for i, pickup in enumerate(zip(pickup_longs, pickup_lats)):
    # print progress to console periodically
    if i % 100000 == 0:
        print 'pickups progress: (' + str(i) + ' / ' + str(N) + ')'
    # calculate vincenty distance and check for criterion
    if vincenty(hotel_coords, pickup).meters <= 500.0:
        # add to list if it meets the 1 mile criterion
        nearby_pickups.append(pickup)
        
print 'pickups progress: (' + str(N) + ' / ' + str(N) + ')\n'
        
print '...getting nearby dropoff locations\n'

# loop through each pickup long, lat pair
for i, dropoff in enumerate(zip(dropoff_longs, dropoff_lats)):
    # print progress to console periodically
    if i % 100000 == 0:
        print 'dropoffs progress: (' + str(i) + ' / ' + str(N) + ')'
    # calculate vincenty distance and check for criterion
    if vincenty(hotel_coords, dropoff).meters <= 500.0:
        # add to list if it meets the 1 mile criterion
        nearby_dropoffs.append(dropoff)
        
print 'dropoffs progress: (' + str(N) + ' / ' + str(N) + ')\n'
        
print 'number of nearby pickups (<= 500 meters)', len(nearby_pickups), '\n'
print 'number of nearby dropoffs (<= 500 meters):', len(nearby_dropoffs), '\n'

...getting nearby pickup locations

pickups progress: (0 / 1000000)
pickups progress: (100000 / 1000000)
pickups progress: (200000 / 1000000)
pickups progress: (300000 / 1000000)
pickups progress: (400000 / 1000000)
pickups progress: (500000 / 1000000)
pickups progress: (600000 / 1000000)
pickups progress: (700000 / 1000000)
pickups progress: (800000 / 1000000)
pickups progress: (900000 / 1000000)
pickups progress: (1000000 / 1000000)

...getting nearby dropoff locations

dropoffs progress: (0 / 1000000)
dropoffs progress: (100000 / 1000000)
dropoffs progress: (200000 / 1000000)
dropoffs progress: (300000 / 1000000)
dropoffs progress: (400000 / 1000000)
dropoffs progress: (500000 / 1000000)
dropoffs progress: (600000 / 1000000)
dropoffs progress: (700000 / 1000000)
dropoffs progress: (800000 / 1000000)
dropoffs progress: (900000 / 1000000)
dropoffs progress: (1000000 / 1000000)

number of nearby pickups (<= 500 meters) 0

number of nearby dropoffs (<= 500 meters): 7465

CPU times: user 1min 3s, sys: 2.11 s, total: 1min 5s
Wall time: 1min 3s

## Conclusions

Looks like The Beekman is the more popular hotel (at least in the month of January 2016, according to Green taxicab traffic). 

As for usefulness, even on my laptop, processing 10^6 records in this fashion takes about 1 minute per hotel. I am confident that parallelizing this code and deploying it on a cloud computing resource (e.g., Amazon Elastic Cloud or something similar) should make the numer crunching very doable. 

What we need to move forward: I think that having a list of hotels and their addresses would be the next logical step. From there, it is easy to find their latitude and longitude, and then use this to calculate pick-up and drop-off distances.