# Unmasking Hotel Identities

In which we try to match hotel IDs to the actual hotel in NYC, given distances from four different attractions.

In [41]:
# imports...
import pandas, numpy as np, warnings

# importing helper methods
from util import *

# for auto-reloading external modules
# see http://stackoverflow.com/questions/1907993/autoreload-of-modules-in-ipython
%load_ext autoreload
%autoreload 2

# suppressing all warnings (probably bad practice!)
warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Mapping Hotel IDs to Addresses or Name of Hotel

Using the (ID, distances) workbook curated by our data providers and the (name, address, distances) workbook we created in the "Getting Hotel Distances From Attractions" Jupyter notebook, we match up each hotel ID with a (name, address) pair. We choose the "match" to be the two entries which minimize the absolute difference, in miles, between the distance values for the two entries.

In [42]:
print '... loading PropertyInfoFile workbook'

# load up the masked ID worksheet
prop_info = pandas.read_excel('../data/PropertyInfoFile.xlsx')

print '... loading hotel names, addresses, and distances workbook'

# load up the (name, address, distances) worksheet
name_addr_dist = pandas.read_excel('../data/Hotel_Names_Addresses_Distances.xlsx')

print '... loading Manhattan_selected_to_STR workbook'

# load up the curated hotel data worksheet
manhattan_STR = pandas.read_excel('../data/Manhattan_selected_to_STR.xls')

# create new dataframe for (name, address, ID) entries
sLength = len(name_addr_dist['Name'])
name_addr_ID = name_addr_dist.copy()

# drop columns we don't need
name_addr_ID = name_addr_ID.drop('Broadway Theatre Distance', axis=1)
name_addr_ID = name_addr_ID.drop('Metropolitan Museum of Art Distance', axis=1)
name_addr_ID = name_addr_ID.drop('Empire State Building Distance', axis=1)
name_addr_ID = name_addr_ID.drop('One World Trade Center Distance', axis=1)

# create new column for ID matching
name_addr_ID.loc[:, 'Share ID'] = pandas.Series(np.zeros(sLength), index=name_addr_dist.index, dtype=np.int)

print '... finding best distance matches per hotel\n'

# loop through every row in the (ID, distances) worksheet
for idx, prop_info_row in prop_info.iterrows():
    # print progress to console
    if idx % 10 == 0:
        print 'Progress:', idx, '/', len(prop_info['Share ID'])
    
    # keep track of the best matching row
    best_row, best_dist = None, np.inf
    
    # loop through every row in the (name, address, distances) worksheet
    for row_idx, name_addr_dist_row in name_addr_dist.iterrows():
            
        # calculate absolute value distances
        dist1 = abs(prop_info_row['Broadway Theatre'] - name_addr_dist_row['Broadway Theatre Distance'])
        dist2 = abs(prop_info_row['Metropolitan Museum of Art'] - name_addr_dist_row['Metropolitan Museum of Art Distance'])
        dist3 = abs(prop_info_row['Empire State Building'] - name_addr_dist_row['Empire State Building Distance'])
        dist4 = abs(prop_info_row['One World Trade Center'] - name_addr_dist_row['One World Trade Center Distance'])
        
        # combine them into total absolute value distance
        dist = dist1 + dist2 + dist3 + dist4
        
        # if this is the closest distance thus far (and other variables match), store it and the row as the best
        if dist < best_dist and other_vars_same(prop_info_row, manhattan_STR.loc[row_idx]):
            best_dist = dist
            best_row = name_addr_dist_row
            best_row_idx = row_idx
        else:
            continue
    
    # create entry in new dataframe for the closest match
    name_addr_ID['Share ID'][idx] = prop_info_row['Share ID']
    name_addr_ID['Name'][idx], name_addr_ID['Address'][idx] = best_row['Name'], best_row['Address']
        
print 'Progress:', len(id_dist['Share ID']), '/', len(id_dist['Share ID'])

# save out new (name, address, ID) spreadsheet
writer = pandas.ExcelWriter('../data/Name_Address_ID.xlsx')
name_addr_ID.to_excel(writer, 'Names, Addresses, IDs')
writer.close()

... loading PropertyInfoFile workbook
... loading hotel names, addresses, and distances workbook
... loading Manhattan_selected_to_STR workbook
... finding best distance matches per hotel

Progress: 0 / 178
Progress: 10 / 178
Progress: 20 / 178
Progress: 30 / 178
Progress: 40 / 178
Progress: 50 / 178
Progress: 60 / 178
Progress: 70 / 178
Progress: 80 / 178
Progress: 90 / 178
Progress: 100 / 178
Progress: 110 / 178
Progress: 120 / 178
Progress: 130 / 178
Progress: 140 / 178
Progress: 150 / 178
Progress: 160 / 178
Progress: 170 / 178
Progress: 178 / 178

## Viewing the Data

Let's take a look!

In [43]:
name_addr_ID

,Name,Address,Share ID
0,Homewood Suites New York Midtown Manhattan Tim...,312 W 37th St New York NY 10018-4208,80307
1,Hilton New York Fashion District,152 W 26th St New York NY 10001-6801,81620
2,Holiday Inn New York City Times Square,585 8th Ave New York NY 10018-3003,82671
3,Doubletree New York Times Square South,341 W 36th St New York NY 10018-6401,83645
4,Hampton Inn ManhattanTimes Square South,337 W 39th St New York NY 10018-1401,83706
5,The Ludlow Hotel,180 Ludlow St New York NY 10002-1514,84151
6,Hotel Le Soleil,38 W 36th St New York NY 10018-8078,84346
7,W Hotel New York Downtown,8 Albany St New York NY 10006-1001,84511
8,Hyatt Times Square,135 W 45th St New York NY 10036-4004,84541
9,Hilton Garden Inn New York West 35th Street,63 W 35th St New York NY 10001-2202,85007
10,Doubletree New York City Chelsea,128 W 29th St New York NY 10001-5301,86091
11,Holiday Inn Manhattan 6th Avenue Chelsea,125 W 26th St New York NY 10001-6802,86573
12,Hotel Chandler,12 E 31st St New York NY 10016-6702,87039
13,Fairfield Inn & Suites New York Manhattan Cent...,538 W 58th St New York NY 10019-1004,87404
14,Hilton Garden Inn New York Times Square Central,136 W 42nd St New York NY 10036-7803,87545
15,Hilton Garden Inn New York Chelsea,121 W 28th St New York NY 10001-6102,88284
16,Courtyard New York Manhattan Times Square West,307 W 37th St New York NY 10018,89044
17,Walker Hotel Greenwich Village,52 W 13th St New York NY 10011-7902,89567
18,The Marmara Park Avenue,114 E 32nd St New York NY 10016-5506,89569
19,Arlo Hudson Square,231 Hudson St New York NY 10013-1412,91126
20,Courtyard New York Manhattan Central Park,1717 Broadway New York NY 10019-5214,91329
21,Holiday Inn New York City Lower East Side,150 Delancey St New York NY 10002-3308,91537
22,element New York Times Square West,311 W 39th St New York NY 10018-1401,91697
23,Hampton Inn Manhattan Madison Square Garden Area,116 W 31st St New York NY 10001-3401,92168
24,Hotel Hugo Soho,525 Greenwich St New York NY 10013,92273
25,Courtyard New York Manhattan SoHo,181 Varick St New York NY 10014-4602,92349
26,InterContinental New York Times Square,300 W 44th St New York NY 10036-5419,92486
27,Hampton Inn Manhattan 35th Street Empire State...,59 W 35th St New York NY 10001-2202,92533
28,Four Points by Sheraton Manhattan SoHo Village,66 Charlton St New York NY 10014-4601,92839
29,Four Points by Sheraton Midtown Times Square,326 W 40th St New York NY 10018-1404,93246
...,...,...,...
148,Hudson Hotel,358 W 58th St New York NY 10019-1804,6159662
149,Conrad New York,102 North End Ave New York NY 10282-1238,6236370
150,Waldorf Astoria New York,301 Park Ave New York NY 10022-6897,6493834
151,Fifty NYC an Affinia Hotel,155 E 50th St New York NY 10022-9503,6594143
152,Hampton Inn New York Manhattan Times Square North,851 8th Ave New York NY 10019-6237,6744386
153,St Regis New York,2 E 55th St New York NY 10022-3103,6847121
154,Autograph Collection Carlton Hotel,88 Madison Ave New York NY 10016-7412,7221375
155,Hilton Manhattan East,304 E 42nd St New York NY 10017-5905,7677157
156,Row NYC,700 8th Ave New York NY 10036-3901,7880298
157,The Roxy Hotel Tribeca,2 Ave Of The Americas New York NY 10013-2401,8006641
158,Dream Hotel Midtown,210 W 55th St New York NY 10019-5218,8225906
159,Autograph Collection The Lexington New York City,511 Lexington Ave New York NY 10017-2017,8341862
160,Hotel Pennsylvania,401 7th Ave New York NY 10001-3412,8456346
161,Westin New York Grand Central,212 E 42nd St New York NY 10017-5803,8456912
162,Park South Hotel,122 E 28th St New York NY 10016-8402,8563539
163,DoubleTree Hotel Metropolitan New York City,569 Lexington Ave New York NY 10022-7501,8763088
164,Hilton Millenium Hotel,55 Church St New York NY 10007-2910,8883936
165,The Gallivant Times Square,234 W 48th St New York NY 10036-1424,9047698
166,Millennium One UN,1 United Nations Plz New York NY 10017-3573,9149400
167,Grand Hyatt New York,109 E 42nd St New York NY 10017-5698,9244498
168,Warwick New York Hotel,65 W 54th St New York NY 10019-5404,9266902
169,Park Central Hotel,870 7th Ave New York NY 10019-4308,9271414
170,The Manhattan @ Times Square Hotel,790 7th Ave New York NY 10019-6204,9412233
171,W Hotel New York Times Square,1567 Broadway New York NY 10036-1517,9498391
172,The Benjamin,125 E 50th St New York NY 10022-9501,9512243
173,The Evelyn,7 E 27th St New York NY 10016-8700,9544760
174,Novotel New York,226 W 52nd St New York NY 10019-5804,9687125
175,Shelburne NYC an Affinia Hotel,303 Lexington Ave New York NY 10016-3165,10082737
176,W Hotel Union Square,201 Park Ave S New York NY 10003-1601,10167518
177,Marriott New York Downtown,85 West St New York NY 10006-1532,10176414

## Are There Any Duplicate Identities?

In [51]:
# store unique duplicates and a list of all duplicates
duplicates = set()
dups = []

# run through the duplicates of the 'Name' column in the (Name, Addresses, ID) dataframe
# and update the duplicate set / add each to the duplicate list
for idx, val in enumerate(name_addr_ID.duplicated('Name')): 
    if val:
        duplicates.update([name_addr_ID['Name'][idx]])
        dups.append(name_addr_ID['Name'][idx])
        
# print out all the duplicated hotel entries
for dup in sorted(duplicates):
    print dup

print '...number of unique duplicates:', len(duplicates)
print '...total number of duplicates:', len(dups)

Courtyard New York Manhattan Central Park
...number of unique duplicates: 1
...total number of duplicates: 1